@model OfflineExamSystem.Models.EditUserViewModel
@using (Ajax.BeginForm("Edit", "UsersAdmin", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editContainer",
    OnSuccess = "OnSuccessEdit",
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">@Resources.Resources.Edit</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.EmpId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EmpId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmpId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FullName_En, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullName_En, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName_En, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FullName_Ar, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullName_Ar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName_Ar, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("", Resources.Resources.GroupsAssignment, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @foreach (var item in Model.GroupsList)
                        {
                            <div>
                                <input type="checkbox" name="selectedGroups" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                                @Html.Label(item.Text, new { @class = "control-label" })
                            </div>
                        }
                    </div>
                </div>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Resources.Resources.Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> @Resources.Resources.Close</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}