@using PagedList.Mvc;
@using PagedList;
@model OfflineExamSystem.Areas.Examination.ViewModels.QuestionViewModel
@{
    /**/

    var totalQuestion = Model.TotalQuestionInSet;
    var endTime = ((DateTime)ViewBag.TimeExpire);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.Now.Ticks).TotalSeconds.ToString("#");
}
<style>
    .pagination {
        display: -webkit-box !important;
    }
</style>

@using (Html.BeginForm("PostAnswerSimulation", "Home", FormMethod.Post, new { @id = "form" }))
{
    <input type="hidden" name="Direction" id="direction" @*value="forward"*@ />
    <input type="hidden" name="Token" value="@(Session["TOKEN"])" />
    <input type="hidden" name="ExamId" value="@(Model.ExamId)" />
    <input type="hidden" id="QuestionId" name="QuestionId" value="@(Model.QuestionNumber)" />
    <div class="panel-group">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3>@Resources.Resources.TimeRemaining : <span id="minRemaining"></span>:<span id="secRemaining"></span> </h3>
                <h4>@Resources.Resources.Simulation</h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-bottom:0px;padding-top:0px">
                <div class="row">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <td>
                                    @Html.PagedListPager((IPagedList)ViewBag.OnePagePerQuestion, page => Url.Action("ExamPaperSimulation", new { @token = Session["TOKEN"], page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 10 })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>@Resources.Resources.Question : @(Model.QuestionNumber)</h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Html.Raw(Model.Question ?? "")</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">

                        @switch (Model.QuestionType)
                        {
                            case "MULTIPLE":
                                <div class="prelude">@Resources.Resources.ChooseCorrect</div>
                                <ul id="checkList" class="js_choices">
                                    @for (int i = 0; i < Model.Options.Count; i++)
                                    {
                                        <li>
                                            <input type="hidden" name="UserChoices[@i].ChoiceId" value="@Model.Options[i].ChoiceId" />
                                            <input id="@Model.Options[i].ChoiceId" type="checkbox" name="UserChoices[@i].IsChecked" @(!string.IsNullOrEmpty(Model.Options[i].Answer) ? "CHECKED" : "") id="@Model.Options[i].ChoiceId" />
                                            <span class="code">@Html.Raw(Model.Options[i].Label.Replace("[", "&lt;").Replace("]", "&gt;"))</span>
                                        </li>
                                    }
                                </ul>
                                <input type="hidden" name="Answer" />
                                break;
                            case "TEXT":
                                <div class="prelude">@Resources.Resources.WriteThoughts</div>
                                <div>
                                    <p>
                                        <input type="hidden" name="UserChoices[0].ChoiceId" value="@Model.Options[0].ChoiceId" />
                                        <textarea name="Answer" class="form-control">@(Model.Options[0].Answer)</textarea>
                                    </p>
                                </div>
                                break;
                        }
                        <table>
                            <tr>
                                @* <td><a href="javascript:void(0);" class="btn btn-primary m-r-10" onclick="saveBackward(this);"><< Save & Previous</a></td>*@
                                <td>
                                    <input class="btn btn-primary m-r-10" type="button" id="correct" name="correct" value="@Resources.Resources.ValidateAnswer" />
                                </td>
                                <td><a id="nextButton" href="javascript:void(0);" class="btn btn-primary m-l-10" onclick="saveForward(this);">@Resources.Resources.Next >></a></td>
                            </tr>
                        </table>
                        <hr />
                        <label style="font-size:medium" id="result"></label>
                        <br />
                        <br />
                        <label style="font-size:small" id="hint"></label>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    var remSeconds = @timeRemaining;
        var secondsCounter = remSeconds % 60;
        if (secondsCounter==0) {
            secondsCounter = 59;
        }
    function formatNumber(number)
    {
        if(number < 10) return '0' + number;
        else return '' + number;

    }
    function startTick()
    {
        document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
        document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));
        var _tick = setInterval(function()
        {
            if(remSeconds > 0)
            {
                remSeconds = remSeconds-1;
                secondsCounter = secondsCounter - 1;
                document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));
                if(secondsCounter==0)
                    secondsCounter = 60;
            }
            else {
                alert('Your Exam time has expired');
                clearInterval(_tick);
            }
        }, 1000);
    }
    startTick();
    function saveForward(sender) {
        $('#direction').val('forward');
        document.getElementById('form').submit();
    }
    function saveBackward(sender) {
        $('#direction').val('backward');
        document.getElementById('form').submit();
    }
</script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('ul.js_choices li input[type="radio"]').on('click', function () {
                var parentul = $(this).closest('ul.js_choices');
                $.each(parentul.find('input[type="radio"][name!="' + $(this).attr('name') + '"]:checked'), function (i, e) {
                    $(e).prop('checked', false);
                });
            });
        })
    </script>
    <script type="text/javascript">
        $("#nextButton").hide();
        $(document).ready(function () {
            $("#correct").click(function () {
                var answers = [];
                $("#checkList :checkbox:checked").each(function () {
                    var value = $(this).attr("id");
                    //alert(value);
                    answers.push(value);
                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetHintByQuestionId")',
                    dataType: 'json',
                    data: { questionId: $("#QuestionId").val(), answers: answers  },
                    success: function (hint) {
                        var result = $.parseJSON(hint);
                        //alert(result['Key']);
                        $("#hint").empty();
                        $("#result").empty();
                        if (result['Key'] =='true') {
                            $("#result").append('@Resources.Resources.TrueAnswer').removeClass('label label-danger').removeClass('label label-warning').addClass('label label-success');
                            $("#hint").append(result['Value']).removeClass('label label-danger').removeClass('label label-warning').addClass('label label-success');;
                            $("#nextButton").show();
                        }
                        if (result['Key'] == 'false') {
                            $("#result").append('@Resources.Resources.WrongAnswer').removeClass('label label-success').addClass('label label-danger');
                            $("#hint").append(result['Value']).removeClass('label label-success').addClass('label label-danger');;
                            $("#nextButton").show();
                        }
                        if (result['Key'] == 'na') {
                            $("#result").append('@Resources.Resources.SpecifyAnswer').removeClass('label label-success').removeClass('label label-danger').addClass('label label-warning');
                            //$("#hint").append(result['Value']).removeClass('label label-success').removeClass('label label-danger').addClass('label label-warning');;
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve question hint.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}﻿
