@using System.Threading
@model IEnumerable<OfflineExamSystem.Areas.Examination.Models.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { questionId = ViewBag.QuestionId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label_En)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label_Ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (Thread.CurrentThread.CurrentCulture.Name.Equals("en-US"))
                {
                    @Html.DisplayFor(modelItem => item.Question.Question_En)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Question.Question_Ar)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label_En)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label_Ar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
