@model OfflineExamSystem.Areas.Examination.Models.ExamQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExamQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.Name_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Name_En)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
