@model IEnumerable<OfflineExamSystem.Areas.Examination.Models.ExamQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exam.Name_En)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Question_En)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Question_Ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exam.Name_En)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Question_En)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Question_Ar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
