@using System.Globalization
@using OfflineExamSystem.Helpers
@model OfflineExamSystem.Models.LoginViewModel
@{
    ViewBag.Title = Resources.Resources.LogIn;
    Layout = "";
    CultureInfo arCultureInfo = CultureInfo.CreateSpecificCulture("ar-JO");
    CultureInfo enCultureInfo = CultureInfo.CreateSpecificCulture("en-US");
}
<style>
    .login-img {
        background-image: url("../../assets/img/nuclear-hd-wallpapers_1920x1200_h.jpg") !important;
        /*background-image: url('../../assets/img/demo/m1.jpg');*/
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .mt-100 {
        margin-top: 10%;
        opacity: 0.9;
    }
</style>
<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>Exam System</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/font-awesome.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/smartadmin-skins.min.css">
    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/smartadmin-rtl.min.css">
    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/demo.min.css">
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/assets/img/favicon/favicon.ico" type="image/x-icon">
    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
</head>

<body class=@(CultureHelper.IsRighToLeft() ? "smart-rtl animated fadeInDown":"animated fadeInDown")>
    <div class="login-img" role="main">
        <!-- MAIN CONTENT -->
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 mt-100">
                    <div class="well no-padding">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "smart-form client-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <header>
                                @Resources.Resources.LogIn
                            </header>
                            <fieldset>

                                <section>
                                    <label class="label">@Resources.Resources.Email</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">@Resources.Resources.Password</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </label>
                                    <div class="note">
                                        @Html.ActionLink(Resources.Resources.ForgetPassword, "ForgotPassword")
                                    </div>
                                </section>
                                <section>
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <i></i>@Resources.Resources.RememberMe
                                    </label>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Resources.Resources.LogIn</button>
                                <div class=@(CultureHelper.IsRighToLeft() ? "pull-right" : "pull-left")>
                                    <a href="@Url.RouteUrl(new RouteValueDictionary(ViewContext.RouteData.Values.ToDictionary(r => r.Key, r => r.Key == "culture" ? "en-US" : r.Value)))@Request.Url.Query"><img src="~/Content/img/blank.gif" class="flag flag-us" alt="@enCultureInfo.NativeName"> @enCultureInfo.NativeName.Replace(")", "").Replace("(", "- ")</a> |
                                    <a href="@Url.RouteUrl(new RouteValueDictionary(ViewContext.RouteData.Values.ToDictionary(r => r.Key, r => r.Key == "culture" ? "ar-JO" : r.Value)))@Request.Url.Query"><img src="~/Content/img/blank.gif" class="flag flag-jo" alt="@arCultureInfo.NativeName"> @arCultureInfo.NativeName.Replace(")", "").Replace("(", "- ")</a>
                                </div>
                            </footer>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="~/assets/js/plugin/pace/pace.min.js"></script>
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="~/assets/js/libs/jquery-2.1.1.min.js"><\/script>'); }</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>if (!window.jQuery.ui) { document.write('<script src="~/assets/js/libs/jquery-ui-1.10.3.min.js"><\/script>'); }</script>
    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/assets/js/app.config.js"></script>
    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="~/assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="~/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- JQUERY VALIDATE -->
    <script src="~/assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/assets/js/app.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>